@value keyColor, colorWhite, hoverKeyColor from '../../common/color.css';

.nav {
  z-index: 999;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 250px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 44px;
  margin-left: 4rem;
  margin-right: 8rem;
  color: hoverKeyColor;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 10rem;
  color: keyColor;
  font-weight: 700;
  font-size: 1.5rem;
}
